@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dvTop10FuturesTrends" class="pull-left" style="width: 500px; height: 400px;">
</div>
<div id="dvTop10Trends" class="pull-left" style="width: 500px; height: 400px;margin-left:10px;">
</div>
<div id="dvTop10Profit" class="pull-left" style="width: 500px; height: 400px;margin-left:10px;">
</div>
<div id="dvTop10ProfitOption" class="pull-left" style="width: 500px; height: 400px;margin-left:10px;">
</div>